{%load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Andrew Carter - Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Bootstrap -->
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="{% static 'starter-template.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav id="navbar-example" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html">
	    <span class="glyphicon glyphicon-home">
	    </span>
	  </a>
	  
        </div>
        <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              
	      <a href="html/Personal.html">
                Personal
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a href="html/Lou_Andy_things_to_do.html">Andy Lou things to do</a></li>
                <li><a href="html/Things_to_do.html">Things to do</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="html/Energy_bus.html">Energy bus</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="html/Mortgage.html">Mortgage</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="html/The_Secret.html">The secret</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="html/Bands_I_like.html">Bands I like</a></li>
              </ul>
	      
            </li>
            <li>
              <a href="html/cricket.html">
                Cricket
              </a>
            </li>
            <li>
              <a href="html/raspberry_pi.html">
                Raspberry pi
              </a>
            </li>
            <li class="dropdown">
              <a href="html/apache.html">
                Web development
              </a>
            </li>	   	    
            <li class="dropdown">
              <a id="drop3" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                Work
		<span class="caret" ></span>
	      </a>
              <ul class="dropdown-menu" aria-labelledby="drop3">
                  <li class="dropdown-submenu">
                    <a href="html/cv.html">CV</a>
                    <ul class="dropdown-menu">
                        <li><a href="html/nsn.html">NSN</a></li>
                    	<li><a href="html/Renesas.html">Renesas</a></li>
                    	<li><a href="html/Accenture.html">Accenture</a></li>
                    	<li><a href="#">Nokia</a></li>
                    </ul>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-submenu">
                    <a href="#">Coding</a>
                    <ul class="dropdown-menu">
                        <li><a href="html/C_optimization.html">C optimization</a></li>
                        <li><a href="html/git.html">GIT</a></li>
                        <li><a href="html/java.html">Java</a></li>
                        <li><a href="html/SOLID_principles.html">SOLID principles</a></li>
                    </ul>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-submenu">
                    <a href="#">Linux</a>
                    <ul class="dropdown-menu">
                        <li><a href="html/ls_ll.html">ls ll</a></li>
                        <li><a href="html/symbolic_links.html">Symbolic links</a></li>
                    </ul>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-submenu">
                    <a href="#">Other links</a>
                    <ul class="dropdown-menu">
                        <li><a href="html/ANPR.html">ANPR</a></li>
                        <li><a href="html/LTE.html">LTE</a></li>
                        <li><a href="html/Modulation.html">Modulation</a></li>
                        <li><a href="html/Real_timeOS.html">Real-time OS</a></li>
                        <li><a href="html/speech_codec.html">Speech codec</a></li>
                        <li><a href="html/Excel_tips.html">Excel tips</a></li>
                    </ul>
                  </li>
              </ul>
            </li>
          </ul> 
        </div><!-- /.nav-collapse -->
      </div><!-- /.container-fluid -->
    </nav> <!-- /navbar-example -->

    <div class="container-fluid">

      <div class="starter-template">
        <p class="lead">Live life to the fullest!</p>      
        <p class="lead">Life is full of choices, you make a choice and don't have regrets!</p>      
        <p class="lead">You can't control fate, simply be pro-active, you can only control yourself and you can only guide others.</p>      
        <p class="lead">Most of all, have fun and smile!</p>      
        <p class="lead">- things to do</p>
        <p class="lead">- diary</p>
      </div>
      
      
  

  
      
  <div class="container-fluid">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
      <a href="html/Energy_bus.html">
        <img src="{% static 'site/img/Ticket-RideLife600.jpg' %}" alt="Energy bus">
          <div class="carousel-caption">
            <h3>Get on the energy bus!</h3>
            <p>Fill your life with positivity</p>
          </div>
      </a>
      </div>

      <div class="item">
      <a href="html/cricket.html">
        <img src="{% static 'site/img/cricket.JPG' %}" alt="Cricket">
          <div class="carousel-caption">
            <h3 color=black>An old Amstrad CPC464 game</h3>
            <p>And a good way to learn C++</p>
          </div>
      </a>
      </div>
    
      <div class="item">
      <a href="#">
        <img src="{% static 'site/img/IMG_6515.jpg' %}" alt="Running">
          <div class="carousel-caption">
            <h3>Hopefully I'll get back to this</h3>
            <p>And take the positives out of the experience</p>
          </div>
       </a>
       </div>

      <div class="item">
      <a href="html/Lou_Andy_things_to_do.html">
        <img src="{% static 'site/img/Lou.jpg' %}" alt="Lou">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
       </a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
    
      
      
      
      

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
