<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>du</title></head><body>
<div style="text-align: center;"><big><big><big>du - directory size</big></big></big><br>
</div>


<br>
The following website is good to find directory size:<br>
<a href="http://www.codecoffee.com/tipsforlinux/articles/22.html">http://www.codecoffee.com/tipsforlinux/articles/22.html</a><br>


</body></html>