<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title>Excel_tips</title>
  </head>
  <body>
    <h1 style="height: 0px;"><small><small><small><small><small><a href="file:///home/asfcarter/pi_django/src/templates/html/index.html">(Back
                  to home page)</a></small></small></small></small></small></h1>
    <h1 style="text-align: center;">Excel tips</h1>
    <p><br>
    </p>
    <p>How to make a dropdown menu:</p>
    <p><a href="https://support.office.com/en-us/article/Create-a-drop-down-list-7693307a-59ef-400a-b769-c5402dce407b">https://support.office.com/en-us/article/Create-a-drop-down-list-7693307a-59ef-400a-b769-c5402dce407b</a></p>
    <p>How to remove a dropdown menu:</p>
    <p><a href="https://support.office.com/en-us/article/Create-a-drop-down-list-7693307a-59ef-400a-b769-c5402dce407b">https://support.office.com/en-au/article/Insert-or-delete-a-drop-down-list-fdde2fb6-e257-4c62-b794-1427762428c6</a></p>
    <p>Security video, how to put a spreadsheet in a trusted location to enable
      macros:</p>
    <p><a href="http://excelcentral.com/excel2007/expert/lessons/08120-understand-macro-security.html">http://excelcentral.com/excel2007/expert/lessons/08120-understand-macro-security.html</a></p>
    <p>How to choose a file</p>
    <span style="text-decoration: underline;"><a href="http://stackoverflow.com/questions/16647396/excel-how-to-add-a-file-selection-button-to-a-cell">http://stackoverflow.com/questions/16647396/excel-how-to-add-a-file-selection-button-to-a-cell</a><br>
    </span>
  </body>
</html>
