<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title>Excel_tips</title>
  </head>
  <body>
    <h1 style="height: 0px;"><small><small><small><small><small><a href="file:///home/asfcarter/pi_django/src/templates/html/index.html">(Back
                  to home page)</a></small></small></small></small></small></h1>
    <h1 style="text-align: center;">Excel tips</h1>
    <p><br>
    </p>
    <p>How to make a dropdown menu:</p>
    <p><a href="https://support.office.com/en-us/article/Create-a-drop-down-list-7693307a-59ef-400a-b769-c5402dce407b">https://support.office.com/en-us/article/Create-a-drop-down-list-7693307a-59ef-400a-b769-c5402dce407b</a></p>
  </body>
</html>
