<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>Energy_bus_-_exercises</title>
  </head>
  <body>
    <div style="height: 0px;"><a href="map.html"><small><small>(Back to map
            page)</small></small></a><a href="file:///home/acarter/cricket/www/html/www.theenergybus.com"><br>
      </a> </div>
    <div style="text-align: center;"><big><big><span style="text-decoration: underline;">House
            Plan</span></big></big><br>
      <br>
      <div style="text-align: left;">13/11/2016</div>
    </div>
    (November)<br>
    &nbsp;&nbsp;&nbsp; + Lag cold water tank &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp; DONE<br>
    &nbsp;&nbsp;&nbsp; + Get Laura and Jon to have a look&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp; DONE<br>
    &nbsp;&nbsp;&nbsp; + Sort out side gate&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    DONE<br>
    <br>
    1/12/2016<br>
    SHORT-TERM PLAN (December)<br>
    &nbsp;&nbsp;&nbsp; + Get quotes from two other electricians<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - To sort out on the 16/11/2016&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; DONE<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Phone James 3/12/2016<br>
    <br>
    &nbsp;&nbsp;&nbsp; + Get gutters done<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Speak to Andy about <br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; * The kitchen<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; * The loft
    insulation<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; * The dining room
    chimley<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; * The bathroom wall<br>
    <br>
    &nbsp;&nbsp;&nbsp; + Get Paul to at the same as Andy<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Lou or Gary to sort out this week<br>
    <br>
    &nbsp;&nbsp;&nbsp; + Do something with the front door letterbox<br>
    &nbsp;&nbsp;&nbsp; + Do something with the front door gaps<br>
    <br>
    &nbsp;&nbsp;&nbsp; + Look at Windows and get quotes<br>
    <br>
    &nbsp;&nbsp;&nbsp; + Do something with the back door gaps<br>
    <br>
    &nbsp;&nbsp;&nbsp; + Design bathroom change<br>
    <br>
    &nbsp;&nbsp;&nbsp; + Chimley/front quote<br>
    <br>
    MEDIUM TERM<br>
    &nbsp;&nbsp;&nbsp; + Do something with the back door gaps<br>
    &nbsp;&nbsp;&nbsp; + Get structural engineer round<br>
    &nbsp;&nbsp;&nbsp; + Complete electrics<br>
    &nbsp;&nbsp;&nbsp; + Get boiler man advice<br>
    <br>
    LONG TERM (More idea following talks to Paul and Andy, no order at the
    moment)<br>
    &nbsp;&nbsp;&nbsp; + Windows<br>
    &nbsp;&nbsp;&nbsp; + Bathroom<br>
    &nbsp;&nbsp;&nbsp; + Kitchen<br>
    &nbsp;&nbsp;&nbsp; + Shed<br>
    &nbsp;&nbsp;&nbsp; + Loft insulation<br>
    &nbsp;&nbsp;&nbsp; + Chimley<br>
    &nbsp;&nbsp;&nbsp; + Heating system<br>
    <br>
    <span style="color: rgb(204, 0, 0);"></span>
  </body>
</html>
