<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title>java</title>
  </head>
  <body>
    <div style="text-align: center;"><big><big>Java<br>
        </big></big></div>
    <br>
    In order to run smartgit/hg I had to upgrade from java 1.5 to 1.7. Note the
    5 and 7 are the large numbers I.e.<br>
    1.5 -&gt; java5<br>
    1.7 -&gt; java7<br>
    <br>
    In order to check the current version of java you can run the following
    command:<br>
    &nbsp;&nbsp;&nbsp; java -version<br>
    <br>
    In order to install java on Ubuntu you run the following command:<br>
    &nbsp;&nbsp;&nbsp; sudo apt-get install openjdk-7-jdk<br>
  </body>
</html>
