<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>Lou-Andy things to do</title>
  </head>
  <body>
    <div style="text-align: center;"><big><big>Lou things to do</big></big><br>
    </div>
    <big><big> </big></big> <br>
    <ul>
    </ul>
    Lou<br>
    <ol>
      <li>Thorpe Park</li>
      <li>Warhorse</li>
      <li>Tour of Windsor castle</li>
      <li>Longleat safari park</li>
      <li>Fruit picking</li>
      <li>Afternoon tea</li>
      <li>Camping new forest</li>
      <li>Spa day</li>
      <li>Picnic boxhill</li>
      <li>Cookery class</li>
      <li>Painting class</li>
    </ol>
    Andy<br>
    <ol>
      <li>Spa day</li>
      <li>Bognor</li>
      <li>Nottinghill carnival</li>
      <li>Frensham pond</li>
      <li>Fishing with Gary</li>
      <li>Chelsea flower show</li>
      <li>Surrey county show</li>
      <li>British grand prix</li>
      <li>Wimbledon</li>
      <li>Denbies</li>
    </ol>
    Andy - longterm<br>
    <ol>
      <li>Job - continuous employment</li>
      <li>House - buy one with garage</li>
      <li>Get married</li>
      <li>Learn guitar</li>
    </ol>
    <p><br>
    </p>
    <ul>
      <li>Thorpe park (to be booked after March 2015)</li>
      <li>Spa day</li>
      <li>Chessington world of adventure (to be booked after March 2015)</li>
      <li>New Forest cycle</li>
      <li>Alton towers</li>
      <li>Rock choir</li>
      <li>Opera</li>
      <li>Ballet</li>
      <li>Denbies</li>
      <li>Tooting bec 100m Lido</li>
      <li>cirque du soleil (tickets need to be booked now :()</li>
      <li>paris by eurostar</li>
      <li>Turkish bath</li>
      <li>Haidrians wall</li>
      <li>York minster</li>
      <li>Lizard peninsula</li>
      <li>Canterbury Cathedral</li>
      <li>White cliffs of Dover</li>
      <li>Lydford gorge</li>
      <li>Cranleigh carnival</li>
      <li>Borden cartbox races</li>
    </ul>
    <ul>
      <li>Egypt</li>
      <li>Morocco</li>
      <li>Norway Fjords</li>
      <li>Iceland<br>
      </li>
      <li>LeMans</li>
    </ul>
    <ul>
      <li>Comrades</li>
      <li>Hawaii</li>
      <li>Neolithic marathon</li>
      <li><a href="http://www.cycleisland.co.uk/">Randomee</a> (Isle of Wright
        100k)</li>
    </ul>
    <p>DONE:</p>
    <ul>
      <li>Riverdance</li>
      <li>Eastborne</li>
      <li>Eden project</li>
      <li>Stratford theatre</li>
      <li>Bourton on the water</li>
      <li><a href="http://www.minack.com/">Manick theatre</a> (to be booked
        after March 2015)</li>
      <li>Cheddar gorge</li>
      <li>Nottinghill carnival (30-31st August 2015)<br>
      </li>
    </ul>
    <ul>
    </ul>
  </body>
</html>
