<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Lou_thoughts</title></head><body>
<div style="text-align: center;"><big><big>Lou thoughts</big></big><br>
</div>

<big><big>
</big></big>

<br>

<ul>
  <li>Remember the ALS challege guy. Be positive! If positivity isn't recipricated then question yourself!<br>
  </li>
</ul>
<ul>
  <li>You're asking me to move over however all you need to do is look
at the calendar and wonder how much time are you willing to give!
(We're not living together/married!)</li>
  <li>Is going to Hannah's a one off? Will Lou come over next Monday?</li>
</ul>
<ul>
  <li>What should I expect?</li>
  <ul>
    <li>There are definites you have to go to and possibles - you have to really consider me in the possibles!<br>
    </li>
  </ul>
</ul>
<ul>
  <li>Guess we just have to get to January and see where we are!!!! Will Lou have more time then?<br>
  </li>
</ul>

  

<ul>
  <li>I feel like the poor relative, not the love in your life! I.e. do
you text/email/surf whilst at your sisters or out with friends? Do you
say you'll do something and then pull out on them?</li>
  <ul>
    <li>Am I being completely unfair or are you cutting my time short to do work so that you can fit other stuff in?<br>
    </li>
  </ul>
</ul>
<ul>
  <li>Tim and Linda didn't go to the fireworks! Will they be going to
the Xmas Fayre? Or are you massively more ambitious than saying I only
want to be a deputy?</li>
  <ul>
    <li>My ambition is to live a nice well balanced life!<br>
    </li>
  </ul>
</ul>
<ul>
  <li>Why could you text day and night when getting together and now you struggle to text at all?</li>
  <ul>
    <li>From my perspective you shouldn't neglect your relationship!
For me I drive into the car park and that triggers to send something
loving (and check you're ok if you've driven in the rain!!!!)!!!!!!</li>
  </ul>
</ul>
<ul>
  <li>I care whether you've paid your loan back however I don't care
about rugs or cosmetic things! Will they even fit when we buy a house
together?</li>
</ul>
<br>
<ul>
  <li>What do I want?</li>
  <ul>
    <li>Your time and energy!</li>
    <ul>
      <li>A 30 second txt in the morning is worth a day of happiness! If I'm driving it shows you're concerned!</li>
      <ul>
        <li>Having seen you checking txt and email all evenings am I to
assume that you don't look at it at all from waking up until gettting
home?<br>
        </li>
      </ul>
      <li>A txt in the evening saying how crazy your day has been disolves any situation!</li>
      <li>If we're not together for a week, then my expectation is for a really amazing evening, not one where I feel short changed!<br>
      </li>
    </ul>
  </ul>
  <ul>
    <li>I can move in .... but don't want to do so until I know that you're putting me at the top of your list!</li>
    <li>Until you surrender some of your independence then I can't tell how long that'll take!
I'm giving up everything to move to Dorking and at the moment all I'm
hearing is I work less and seeing family less. From my perspective
you're working evenings/weekends etc and you see your family at least
once a week! (I see my family once every 6 weeks and currently see my
friends every 6 months! And those are good friends, not old work
colleagues!)<br>
    </li>
  </ul>
</ul>
</body></html>