<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>ls/ll</title></head><body>
<div style="text-align: center;"><big><big><big>ls/ll etc</big></big></big><br>
</div>

<br>
Not the most interesting however when combined with groups/chmod/chgrp the information in the link may be of interest.<br>
<div style="margin-left: 40px;"><a href="http://www.thegeekstuff.com/2009/07/linux-ls-command-examples/">Uses of ls/ll</a><br>
<a href="http://superuser.com/questions/19318/how-can-i-give-write-access-of-a-folder-to-all-users-in-linux">Changing the ower/group of /var/www so that it's sticky and owned by group www-data</a><br>
<a href="http://www.linuxforums.org/forum/newbie/148658-chmod-2755-work.html">Link analysing chmod 2775 - I.e. what does the 4th bit mean?</a><br>
</div>

<br>
(Note: One reason for needing to look deeper into this was due to permissions in /var/www not being picked up. <a href="http://stackoverflow.com/questions/10194364/cant-create-a-file-directories-in-ubuntu-11-10-even-if-rights-are-set-correctly"><span style="text-decoration: underline;">Logging out and then in is required to propagate changes</span></a>) <br>


</body></html>