<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>map</title>
  </head>
  <body>
    <h1 style="height: 0px;"><small><small><small><small><small><a href="index.html">(Back
                  to home page)</a></small></small></small></small></small></h1>
    <h1 style="text-align: center;">Website Index<br>
    </h1>
    <a href="home.html">Home page</a><br>
    &nbsp;&nbsp;&nbsp; * <a href="Personal.html">Personal</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - <a href="Lou_Andy_things_to_do.html">Andy-Lou
      things to do 2016</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Lou_Andy_things_to_do_2017.html">Andy-Lou
      things to do 2017</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - <a href="Things_to_do.html">Things
      to do</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - <a href="House_plan.html">House
      plan</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - <a href="html/Energy_bus.html">Energy
      bus</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_Jan_2019.html">Energy
      bus exercises January 2019</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_Nov_2018.html">Energy
      bus exercises November 2018</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_Oct_2018.html">Energy
      bus exercises October 2018</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_Aug_2018.html">Energy
      bus exercises August 2018</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_July_2018.html">Energy
      bus exercises July 2018</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_June_2018.html">Energy
      bus exercises June 2018</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_May_2018.html">Energy
      bus exercises May 2018</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_March_2018.html">Energy
      bus exercises March 2018</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_February_2018.html">Energy
      bus exercises February 2018</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_January_2018.html">Energy
      bus exercises January 2018</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_December_2017.html">Energy
      bus exercises December 2017</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_November_2017.html">Energy
      bus exercises November 2017</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_June_2017.html">Energy
      bus exercises July 2017</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_June_2017.html">Energy
      bus exercises June 2017</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_May_2017.html">Energy
      bus exercises May 2017</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_Feb_2017.html">Energy
      bus exercises Feb 2017</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_Dec_2016.html">Energy
      bus exercises Dec 2016</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_Nov_2016.html">Energy
      bus exercises Nov 2016</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_July_2016.html">Energy
      bus exercises July 2016</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_June_2016.html">Energy
      bus exercises June 2016</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_May_2016.html">Energy
      bus exercises May 2016</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_Apr_2016.html">Energy
      bus exercises April 2016</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_Mar_2016.html">Energy
      bus exercises March 2016</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Energy_bus_exercises_Oct_2014.html">Energy
      bus exercises October 2014</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - <a href="html/The_Secret.html">The
      secret</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - <a href="Bands_I_like.html">Bands I
      like</a><span style="color: #0000ee;"><span style="text-decoration: underline;"></span></span><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - <a href="Mortgage.html">Mortgage</a><br>
    &nbsp;&nbsp;&nbsp; * <a href="cricket.html">Cricket</a><br>
    &nbsp;&nbsp;&nbsp; * <a href="raspberry_pi.html">Raspberry pi</a><br>
    &nbsp;&nbsp;&nbsp; * <a href="apache.html">Web design</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - <a href="Virgin_media.html">Virgin
      Media change</a><br>
    &nbsp;&nbsp;&nbsp; * Work<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - <a href="html/cv.html">CV</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="html/nsn.html">NSN</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="html/Renesas.html">Renesas</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Accenture.html">Accenture</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; Nokia<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Coding<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; -&gt; <a href="C_optimization.html">C
      optimization</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; -&gt; <a href="git.html">GIT</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; -&gt; <a href="java.html">Java</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Linux &nbsp; &nbsp;&nbsp;&nbsp; <br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="ls_ll.html">ls/ll</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="symbolic_links.html">symlinks</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - <a href="Virtual_machine.html">Virtual
      Machine setup</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Other links<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="ANPR.html">ANPR</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; LTE<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Modulation.html">Modulation</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="Real_timeOS.html">Real-time
      OS</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -&gt; <a href="speech_codec.html">Speech
      codec</a><br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; -&gt; Ex<a href="html/Excel_tips.html"></a>cel<br>
  </body>
</html>
