<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
  </head>
  <body>
    <div style="text-align: center;"><big><big>Website development</big></big></div>
    <br>
    I had problems with both Mediawiki and TikiWiki. I hoped they'd give me a
    template to work from however I found they caused more issues than they
    solved! Therefore I've gone for a simple open source webpage designer
    Kompozer, the other benefit is that the pages/text/links should be portable!<br>
    <br>
    Now moving over to <a href="http://linuxg.net/how-to-install-bluegriffon-1-7-2-on-ubuntu-14-04-ubuntu-12-04-and-derivative-systems/">BlueGriffon</a><br>
    <br>
    <hr style="width: 100%; height: 2px;"><br>
    Interesting article on <a href="http://www.zdnet.com/website-creation-dreamweaver-v-open-source-7000000098/"
      target="_blank">Dreamweaver vs open source</a><br>
    <hr style="width: 100%; height: 2px;"><br>
    Mediawiki<br>
    <ul>
      <span style="font-style: italic;"></span>
      <li>Setting up mediawiki - think I just followed this tutorial. </li>
      <ul>
        <li><a href="http://www.youtube.com/watch?v=Ku-vuy0d5po" target="_blank">http://www.youtube.com/watch?v=Ku-vuy0d5po</a></li>
      </ul>
      <li>Either worked in local host or gave some random CSS formating issue if
        I set the server to ""</li>
      <li>How to debug MediaWiki</li>
      <ul>
        <li><a href="http://www.mediawiki.org/wiki/Manual:How_to_debug">http://www.mediawiki.org/wiki/Manual:How_to_debug</a></li>
      </ul>
      <li>The versions of mediawiki used were (and have now 26/9/14 been removed
        from the git repository):</li>
      <ul>
        <li>mediawiki-1-20.7.tar.gz</li>
        <li>mediawiki-1-21.2.tar.gz</li>
      </ul>
    </ul>
    Tiki Wiki<br>
    <ul>
      <li><span style="font-style: italic;">Instructions</span></li>
      <li>Difficult to change the navigation panel</li>
      <li>Crashed when I made a mistake in a module code</li>
      <li>The version of tiki wiki used was (and have now 26/9/14 been removed
        from the git repository):</li>
      <ul>
        <li>tiki-11.0.tar.gz</li>
      </ul>
    </ul>
    KompoZer<br>
    <a href="http://www.youtube.com/watch?v=5sa0BlhROC8" target="_blank">Setting
      up KompoZer</a><br>
    <a href="http://www.charlescooke.me.uk/web/ugs03.htm">Using KompoZer</a> -
    if you search for effect it says that you need to use CSS style sheets to
    choose a background colour<br>
    <br>
    BlueGriffon<br>
    <br>
  </body>
</html>
