<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="text/html; http-equiv=" content-type"="">
    <title>Mortgage</title>
  </head>
  <body>
    <div style="height: 0px;"><a href="map.html"><small><small>(Back to map
            page)</small></small></a> </div>
    <div style="text-align: center;"><big><big><span style="text-decoration: underline;">Mortgage
            Calculation</span></big></big><br>
      <br>
      <div style="text-align: left;">Flat:<br>
        Price &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; £240,000<br>
        Solicitors&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; £1,000<br>
        Agents fee&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; £3,000<br>
        <span style="text-decoration: underline;">Mortgage&nbsp;&nbsp;&nbsp; £139,000</span><br>
        Total
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        £97,000<br>
        <br>
        Bray Rd:<br>
        Price&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        £605,000<br>
        <br>
        Fees<br>
        Stampduty&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; £20,500<br>
        Mortgage Fee&nbsp;&nbsp;&nbsp; £1,000<span style="text-decoration: underline;"><br>
          Solicitors&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; £2,000</span><br>
        Total&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; £23,500<br>
        <br>
        Cash&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        £200,500 (+ £29,500 reserve)<br>
        <br>
        Andy&nbsp; £200,500 - £11,750= £188,750<br>
        Lou&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; £97,000 - £11,750=&nbsp;&nbsp; £85,250<br>
        <br>
        Mortgage&nbsp; £319,000<br>
        <br>
        Repayment @2.18/25years = £1,432<br>
      </div>
      <span style="color: rgb(204, 0, 0);"></span></div>
  </body>
</html>
