<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>Mortgage</title>
  </head>
  <body>
    <div style="height: 0px;"><a href="map.html"><small><small>(Back to map
            page)</small></small></a> </div>
    <div style="text-align: center;"><big><big><span style="text-decoration: underline;">Mortgage
            Calculation</span></big></big><br>
      <br>
      <div style="text-align: left;">Flat:<br>
        Price &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <br>
      </div>
      <span style="color: rgb(204, 0, 0);"></span></div>
  </body>
</html>
