<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>map</title>
  </head>
  <body>
    <h1 style="height: 0px;"><small><small><small><small><small><a href="index.html">(Back
                  to home page)</a></small></small></small></small></small></h1>
    <h1 style="text-align: center;">SOLID principles</h1>
    <p><br>
    </p>
    <p>Dependency inversion principle:</p>
    <p><a href="http://www.tomdalling.com/blog/software-design/solid-class-design-the-dependency-inversion-principle/">http://www.objectmentor.com/resources/articles/dip.pdf</a></p>
    <p><a href="http://www.tomdalling.com/blog/software-design/solid-class-design-the-dependency-inversion-principle/">http://www.tomdalling.com/blog/software-design/solid-class-design-the-dependency-inversion-principle/</a></p>
    <p><a href="http://www.oodesign.com/dependency-inversion-principle.html">http://www.oodesign.com/dependency-inversion-principle.html</a></p>
    <p><br>
    </p>
    <p><br>
    </p>
  </body>
</html>
