<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>The_Secret</title></head><body>
<div style="height: 0px;"><a href="file:///home/acarter/cricket/www/html/map.html"><small><small>(Back to map page)</small></small></a><br>
</div>




<div style="text-align: center;"><a href="https://www.youtube.com/watch?v=8Un9NqW_0Hw"><big><big><span style="text-decoration: underline;">The secret</span></big></big></a><br>
</div>


<br>
What do you really want?<br>
<br>
Bring your world into alignment<br>
&nbsp;&nbsp; &nbsp;- enthusiasm/passion<br>
&nbsp;&nbsp; &nbsp;- follow the impulse<br>
&nbsp;&nbsp; &nbsp;- you'll attact what you want!<br>
<br>
Look to the future, not the past! I.e. you can change the future!<br>
<br>
Make a list of things to be grateful for!<br>
<br>
Focus on the things you're grateful for, not those that you can't have!<br>
<br>
Get a Rock, it'll remind you to be grateful!<br>
<br>
Visualise<br>
<br>
Be pro - not against
  

</body></html>