<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title>Accenture.html</title>
  </head>
  <body>
    <h1 style="text-align: center;">Accenture</h1>
    My Role:<br>
    - Completed the Chinese product<br>
    - Bug fixing of audio enhancement product. Weird setup for which I was late
    to be involved where we were the middle men.<br>
    <br>
    What I did:<br>
    Audio enhancement integration.<br>
    Bug fixing. Mixture of Symbian C++, OpenIL component in C. No ability to
    debug, so when testing multi-microphone and it crashed I had to hack
    something together.<br>
    <br>
    Reason for leaving:<br>
    Took voluntary redundancy due to Accenture business model being undesirable.
    Going from an team based, product development environment to a meritocracy
    consultancy, the vision wasn't good.<br>
  </body>
</html>
