<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title>ANPR</title>
  </head>
  <body>
    <p style="text-align: center;"><big><big>ANPR<br>
        </big></big></p>
    <p>https://www.vodafoneukproperty.net/ANPR/Login</p>
    <p>username: anpr</p>
    <p>password: anpr</p>
    <p>http://www.anpr.hu/matrix_pocket_android/</p>
    <p><br>
    </p>
    <p>https://www.click2park.co.uk/RBS/c2p.php?page=display_carpark_map&amp;order_by=&amp;order_by_direction=&amp;site_id=123456&amp;carpark_id=7&amp;search_start_date=&amp;search_end_date=&amp;search_start_time=16%3A30&amp;search_end_time=19%3A00</p>
    <p><br>
    </p>
    <p>https://www.uber.com/</p>
    <p><br>
    </p>
    <p>mail.netfm.org/</p>
    <p><br>
    </p>
    <p>To install Django on Ubuntu:</p>
    <p>https://www.howtoforge.com/tutorial/django-install-ubuntu-14.04/</p>
    <p>This then calls the following to install pip and easy-install:</p>
    <p>https://pip.pypa.io/en/latest/installing.html</p>
  </body>
</html>
