<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>C-optimization</title></head><body>
<div style="text-align: center;"><big><big><big>C Optimisation</big></big></big><br>
</div>
A good C code optimisation article:<br>
<a href="http://www.codeproject.com/Articles/6154/Writing-Efficient-C-and-C-Code-Optimization" target="_blank">http://www.codeproject.com/Articles/6154/Writing-Efficient-C-and-C-Code-Optimization</a><br>
<br>
This one gives a good example of how restrict can be used:<br>
<a href="http://www.embedded.com/design/embedded/4006634/Guidelines-for-writing-efficient-C-C--code" target="_blank">http://www.embedded.com/design/embedded/4006634/Guidelines-for-writing-efficient-C-C--code</a><br>
<br>
A good one on pointer increments:<br>
<a href="http://www.eskimo.com/%7Escs/cclass/notes/sx10b.html">http://www.eskimo.com/~scs/cclass/notes/sx10b.html</a><br>
<br>
I've not read this one, but it looks pretty good (long though):<br>
<a href="http://www.agner.org/optimize/optimizing_assembly.pdf" target="_blank">http://www.agner.org/optimize/optimizing_assembly.pdf</a><br>


</body></html>