<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>cv</title>
  </head>
  <body>Andrew CARTER
    <br>
    82a Falkland Road, Dorking, Surrey, RH43AD
    <br>
    Tel: 07748705586
    <br>
    Email: asfcarter@yahoo.co.uk
    <br>
    &nbsp;<br>
    PROFILE
    <br>
    &nbsp;<br>
    I am an embedded software engineer with 12 years experience in the
    telecoms industry. Initially working on video enhancements, then
    transferring to audio development and recently working on modem/base
    station integration. I have had key responsibilities on large projects
    using both technical and interpersonal skills to enable successful
    outcomes. With a broad range of skills and a record of versatility I
    look forward to taking on new challenges.
    <br>
    &nbsp;<br>
    &nbsp;<br>
    TECHNICAL SKILLS
    <br>
    &nbsp;<br>
    Software languages:
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; C (12 years in embedded environment)
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; Assembler (2 years mainly development for video
    enhancements, also used for audio codec integration)
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; Python (1 year developing audio test code)
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; C++, Perl, Makefiles, shell (1 year industrial
    experience)
    <br>
    &nbsp;<br>
    &nbsp;&nbsp;&nbsp; Operating systems:
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; 12 years developing experience under Unix and Windows
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; 2 years developing/integrating video algorithms on TI
    DSP/BIOS
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; 7 years developing/integrating audio algorithms on ENEA
    OSE
    <br>
    &nbsp;<br>
    &nbsp;&nbsp;&nbsp; Software and hardware:
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; Visual studio, Code composer studio
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; Lauterbach trace32
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; Synergy, SVN and Mercurial code management software
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; R&amp;S CMU200, Anritsu 8820, oscilloscopes, logic
    analysers and spectrum analysers
    <br>
    &nbsp;<br>
    &nbsp;&nbsp;&nbsp; Soft skills:
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; Continuous integration, Agile, scrum (4 years)
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; Project planning
    <br>
    &#8226;&nbsp;&nbsp;&nbsp; Interviewing skills (2 years)
    <br>
    &nbsp;<br>
    &nbsp;<br>
    EDUCATION AND QUALIFICATIONS
    <br>
    &nbsp;<br>
    1997 &#8211; 2001&nbsp;&nbsp;&nbsp; University of Surrey
    <br>
    &nbsp;&nbsp;&nbsp; BEng (First Class Honours) Electronic and Electrical
    Engineering.
    <br>
    &nbsp;&nbsp;&nbsp; &nbsp;<br>
    Final overall degree average was 76%. Awarded the Institution of Electrical
    Engineering Prize for the best final year project.
    <br>
    &nbsp;<br>
    Final year project &#8211; &#8216;3D Reconstruction of Textured Surfaces from Stereo
    Image Pairs&#8217;&nbsp;
    <br>
    &#8211; which involved the implementation of two area-matching algorithms to
    produce 3D plots using the C programming language.
    <br>
    &nbsp;<br>
    Final year subjects &#8211; Object Orientated Design and C++, ASIC Design and
    VLSI systems, Machine Intelligence, Concurrent Systems, Web
    Technologies, Computer Architectures.
    <br>
    `
    <br>
    1991 &#8211; 1997&nbsp;&nbsp;&nbsp; Okehampton College
    <br>
    &nbsp;&nbsp;&nbsp; A level GCE passes in Mathematics (A), Further
    Mathematics (A), Physics (A) and Chemistry (B).
    <br>
    &nbsp;<br>
    &nbsp;&nbsp;&nbsp; GCSE: 9 passes including: Mathematics (A*), Double
    Science (A), French (C)
    <br>
    &nbsp;&nbsp;&nbsp; and English (C).
    <br>
    &nbsp;
    <br>
    WORK EXPERIENCE
    <br>
    &nbsp;<br>
    Oct 2013 - Present&nbsp;&nbsp;&nbsp; <a href="nsn.html">Nokia Solutions
      Networks
    </a><br>
    &nbsp;<br>
    Oct 2013 &#8211; Present&nbsp;&nbsp;&nbsp; GSM DSP Software Engineer&nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp;<br>
    &nbsp;<br>
    &nbsp;&nbsp;&nbsp; Joining the newly formed DSP GSM base station team.
    Successfully gained GSM and proprietary HW/SW knowledge to complete the
    full implementation lifecycle of the feature &#8220;Uplink Min Rx level based
    access&#8221; on two TI c64x based platforms using SVN source control.
    <br>
    &nbsp;<br>
    June 2012 &#8211; Sept 2013&nbsp;&nbsp;&nbsp; <a href="Renesas.html">Renesas
      Mobile Corporation
    </a><br>
    &nbsp;<br>
    June 2012 &#8211; Sept 2013&nbsp;&nbsp;&nbsp; Protocol Integration Engineer&nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp;<br>
    &nbsp;<br>
    &nbsp;&nbsp;&nbsp; Working in the modem build and release team. The
    main focus was to ensure quality software delivery against tight
    deadlines. A diverse range of supplementary activities were performed
    including web development in Perl and SQL, hardware wakeup and
    Makefile/shell scripting to increase the efficiency of development
    teams.&nbsp;&nbsp;&nbsp; &nbsp;<br>
    &nbsp;<br>
    Oct 2011 &#8211; May 2012&nbsp;&nbsp;&nbsp; Accenture (client Nokia)
    <br>
    &nbsp;<br>
    Oct 2011 &#8211; May 2012&nbsp;&nbsp;&nbsp; Systems Specialist
    <br>
    &nbsp;<br>
    &nbsp;&nbsp;&nbsp; As part of Nokia restructuring Symbian software support
    was transferred to Accenture.&nbsp;
    <br>
    &nbsp;<br>
    &nbsp;&nbsp;&nbsp; Part of a team integrating and verifying an audio
    chain of C/C++ OpenMaxIL components on an ARM Cortex A9 processor using
    Agile methodologies. Mercurial used for source control with tests built
    into Jenkins to perform continuous integration.
    <br>
    &nbsp;<br>
    Jan 2003 &#8211; Sept 2011&nbsp;&nbsp;&nbsp; Nokia Mobile Phones
    <br>
    &nbsp;<br>
    Sept 2006 &#8211; Sept 2011&nbsp; &nbsp;&nbsp;&nbsp; Senior Audio Integration DSP
    Engineer
    <br>
    &nbsp;<br>
    &nbsp;&nbsp;&nbsp; Promoted to senior engineer as knowledge and
    experience increased. Choosing to stay technical extra responsibilities
    included planning/managing projects, interviewing and coaching.&nbsp;
    <br>
    &nbsp;<br>
    &nbsp;&nbsp;&nbsp; Worked on three major projects during this period,
    (1) the integration of AMR-WB codec, (2) the architectural change to
    support Meego cellular devices and (3) the incorporation of a 3rd party
    TDSCDMA modem into Nokia phones. Each project was based on the c55x DSP
    and included extensive use of both R&amp;S CMU200 and Anritsu 8820
    radio communication testers to validate the audio. Travel to China for
    the TDSCDMA project was a necessity to liaise with our Chinese
    partners. In addition asked to go on an emergency field trip to Seattle
    to investigate a system issue which was successfully resolved.
    <br>
    &nbsp;<br>
    July 2005 &#8211; Sept 2006 &nbsp;&nbsp;&nbsp; Audio Integration DSP Engineer
    <br>
    &nbsp;&nbsp;&nbsp; &nbsp;<br>
    &nbsp;&nbsp;&nbsp; As part of Nokia restructuring work transferred to audio
    integration.
    <br>
    &nbsp;&nbsp;&nbsp; &nbsp;<br>
    &nbsp;&nbsp;&nbsp; On the cellular c55x DSP running ENEA OSE
    implemented a number of smaller projects including stereo microphone
    support and packet switch support for cellular codec before going on to
    integrate the GSM half rate codec and produce audio ROM masks for the
    latest phones. During this period considerable system experience was
    gained working with memory maps and process/interrupt priorities.
    <br>
    &nbsp;<br>
    Jan 2003 &#8211; July 2005&nbsp;&nbsp;&nbsp; Video Enhancements DSP Design
    Engineer
    <br>
    &nbsp;<br>
    &nbsp;&nbsp;&nbsp; On the c55x fixed point DSP running DSP BIOS on the
    TI OMAP applications microprocessor. Designed and optimised a number of
    XDAIS compliant algorithms, integrating them into the video rendering
    device node where DMA was used to implement image rotation. The
    algorithms consisted of a mixture YUV and RGB formats and were coded in
    C and Lead3 phase3 assembler. Code Composer Studio in combination with
    Rational Quantify, Purify and PureCoverage were used to develop,
    simulate, profile individual modules before they were tested in
    hardware utilising Symbian test harnesses. Lauterbach real-time trace
    tools were used for test and debug in HW.
    <br>
    &nbsp;<br>
    &nbsp;&nbsp;&nbsp; Development work was controlled using Telelogic Synergy
    configuration management tool.
    <br>
    &nbsp;<br>
    Jul 1999 &#8211;June 2000&nbsp;&nbsp;&nbsp; Tiger Technology Ltd, Leatherhead
    <br>
    &nbsp;<br>
    &nbsp;&nbsp;&nbsp; Industrial placement at a small company producing
    solid state memory devices. Developed two testers to emulate the
    transfer of data to functioning memory devices. Both testers involved
    designing and testing hardware (included CPLD&#8217;s, memory and power
    components).
    <br>
    &nbsp;<br>
    &nbsp;<br>
    LEISURE ACTIVITIES
    <br>
    &nbsp;<br>
    An active participant in most sporting activities focusing on
    marathons/triathlons and hockey, successfully captaining Surrey old
    boys 1st team to promotion in their inaugural year. A member of the IET
    for the past 12 years.<br>
  </body>
</html>
