<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Energy_bus</title></head><body>
<div style="height: 0px;"><a href="map.html"><small><small>(Back to map page)</small></small></a><a href="www.theenergybus.com"><br>
</a>
</div>





<div style="text-align: center;"><a href="www.theenergybus.com"><big><big><span style="text-decoration: underline;">Energy bus</span></big></big></a><br>
</div>



<br>
Below are a list of the main comments/phrases that I took from the
energy bus. The following are my visions based on the energy bus
questions:<br>
<a href="Energy_bus_-_exercises.html">My visions 21/10/2014</a><br>
<br>
&nbsp;&nbsp;&nbsp; Praise or dwell on the positive!<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; - don't think of the negative!<br>
<br>
(viii) &nbsp;&nbsp; &nbsp;"Are you a positive or negative thinker?"<br>
&nbsp;&nbsp; &nbsp;"At work you can catch people doing positive or negative things"<br>
<br>
(xiii) &nbsp;&nbsp; &nbsp;"Live young, have fun, and arrive at your destination as late as posible with a smile on your face!"<br>
<br>
(7)&nbsp;&nbsp; &nbsp;"Everything happens for a reason"<br>
<br>
(16)&nbsp;&nbsp; &nbsp;"We don't think this game, we play it"<br>
<br>
(22)&nbsp;&nbsp; &nbsp;"Be open"<br>
<br>
<br>
<br>
Rules:<br>
(25)&nbsp;&nbsp; &nbsp;1) You're the driver of your bus!<br>
(26)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Always remember that
you're the driver of your bus.It's the most important of the rules
because if you don't take responsibility for your life and control of
your bus then you can't take it where you want to go."<br>
(28)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "You can take the wheel and
choose to create your life, one thought, one belief, one action, one
choice at a time."<br>
(29)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "A smile changes the way
you feel, the way you think, and how you interact with others."<br>
(29)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "A man with a vision has a
certain look in his eye and walk in his step. He walks like he knows
where he's going and why he is going there."<br>
(30)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;This is your energy bus.<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; You're the driver.<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Did you know you can take your bus anywhere you want to go?<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Say yes three times with me. Yes, yes, yes.<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; You can take it to the movies, the beach or the North pole.<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Just say where you want to go and believe that it will be so.<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Because every journey and ride
begins with a desire to go somewhere and do something and if you have a
desire then you also ahve the power to make it happen.<br>
<br>
(31)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- First, decide what you
want. Then you can start creating it. Don't let the world create you.
You create your world. Complete these questions:<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; (1) My vision for my life (including my health) is:<br>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; (2) My vision for my work, career, job, and team is:<br>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; (3) My vision for my relationship and family is:<br><br>
(33)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "The world is made of energy. E=MC2"<br>
(34)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- Professional sports teams are "full of energy", "on the same wavelength". <br>
(40)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Every crisis offers an
opportunity to grow stronger and wiser; to reach deep within and
discover a better you and create a better outcome."<br>
<br>
(41)&nbsp;&nbsp; &nbsp;2) Desire, vision and focus, move your bus in the right direction<br>
(42)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "The law of attaction! The
more we focus on somthing, the more we think about something, the more
it shows up in our lives."<br>
(42)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Thoughts are magnetic"<br>
(43)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "We're winners, not whiners"<br>
(44)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "We live in an energy field
of dreams! If you buildit in your mind, focus on seeing it, and take
action, the success will come!"<br>
(45)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "If you keep on thinking
what you have been thinking you'll keep on getting what you have been
getting!"<br>
(46)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- E+P=O (E=events in life,
P=perception or positive energy, O=outcome), you can control P to make
a good O!<br>
(47)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- Positive energy - trust,
faith, enthusiasm, purpose, joy and happiness (not the rah, rah
positive energy)<br>
<br>
(47)&nbsp;&nbsp; &nbsp;3) Fuel your ride with positive energy!<br>
(48)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Get rid of negative
energy. Throw it away, be thankful for what you have not what you
don't!"<br>
(48)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Where there is negative
there is always a positive! Where there is a dark cloud there is always
a sun shining behind it!"<br>
(49)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;A man goes to the village to visit the wise man and he <br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; says to the wise man, "I feel like there are two dogs inside<br>
<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; me. One dog is this positive, loving kind, and gentle dog<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; and then I have this angry, mean-spirited, and negative<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; dog and they fight all the time. I don't know which is going<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; to win." The wise man thinks for a moment and he says, "I<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; know which is going to win. The one you feed the most, so<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; feed the positive dog!".<br>
(52)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- Do a thankyou walk. Be
thankful for things, it's impossible to be thankful and stressed at the
same time.<br>
(54)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- In golf you think about the
good rather than the bad shots! When you goto bed think about your
day's successes rather than failures.<br>
<br>
(56)&nbsp;&nbsp; &nbsp;4) Invite people on your bus and share your vision for the road ahead!<br>
(58)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- TODO: Send a ticket to your team as an invite!!!!! <br>
(58)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "If you don't clearly
communicate your vision of the road ahead no one will want to travel
with you!".<br>
(58)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Tell them what you expect,
no infighting , no egos, just everyone to come together for the
collective good of delivering stellar performance".<br>
(60)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- Email a ticket to everyone. Work and home.<br>
(62)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- QUOTE - Iam not bound to
win, Iam bound to be true. I am not bound to succeed, but I am bound to
live up to the light that I have. - Abraham Lincoln<br>
(67)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "It's just like riding a
bike! At the beginning your bound to get knocked down but the important
thing is to get back on, stay strong and after a while once you master
it you'll ride with the confidence of a champion!"<br>
(69/70)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "know how to deal with
negativity and what to do with it! Don't focus on the people
personally, forget their names and just realize they represent
negativity".<br>
(70)&nbsp;&nbsp; &nbsp;5) Don't waste your energy on those who don't get on your bus<br>
(70)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "You can only drive your
own bus, you can't drive anyone elses so don't try to make them get on."<br>
(71)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Salespeople are great at
ignoring people not getting on their buses, instead they move quickly
onto the next customer"<br>
(73)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "If you want to be successful you have to be careful about who is on your bus".<br>
(74)&nbsp;&nbsp; &nbsp;6) POST A SIGN THAT SAYS No energy vampires allowed on your bus!<br>
(74)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "You've got to be strong
and say where we are going and to get there we need a positive and
supportive team and whoever is negative will be kicked off or left
behind!"<br>
(77)&nbsp;&nbsp; &nbsp;*) Your positive energy and vision must be
greater than anyone's and everyone's negativity. Your certainty must be
greater than everyone's doubt!<br>
(78)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Practice positive energy.
The more you practice the better you become, like sport!".<br>
(79)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- GET A ROCK!<br>
(89)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Trust that great things are happening"<br>
(91)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "The goal is not to be
better than anyone else but rather be better than you were yesterday".<br>
(95)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Emotion, they can lift you up or bring you down. Emotion - energy in motion."<br>
(96)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Too many people try to
please others and this only makes them unhappy. Better to focus on
feeling good and letting this feeling and happiness shine on others."<br>
(96)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "When you feel good you
give from power. When you feel bad and try to feel good by pleaseing
others you only give away your power ... and this makes you weaker!"<br>
(101)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "He has a big heart", "she
puts her heart into her work" and £they have a lot of heart" - need to
lead from the heart, this is where real emotion comes from.<br>
(106)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Positive energy spreads via a life touching a life touching a life".<br>
(107)&nbsp;&nbsp; &nbsp;7) Enthusiasm attracts more passengers and energizes them during the ride<br>
(107)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "CEO's - chief energy
officers live and work with enthusiasm. They tap the power of their
heart by getting excited about being alive!".<br>
(108)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "When you're enthusiastic people want to get on your bus! Your bus is energised!"<br>
(110)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Enthusiasm has to be
real, not the bouncing off walls type. You have to live it! Let your
prescence do the convincing!"<br>
(111)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "A companies most important asset is its energy"<br>
(113)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Signs come at the right
time, if you look out for them they will always tell you where your bus
needs to go and what you need for your ride!".<br>
(114)&nbsp;&nbsp; &nbsp;8) Love your passengers!<br>
(114)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Love is the answer for the team's success"<br>
(115)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Become a love magnet by
loving your employees, your customers, your company and your family!
YOu become a Love Magnet by 'sharing love generously'".<br>
(115)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "All any of us want is to feel loved"<br>
(116)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Enthusiasm is what gets
people excited about being on your bus, but love is what keeps them on
the bus!"<br>
(116)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "The more love you put out the more that comes back to you!"<br>
(117)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "If you're thinking loving
positive thoughts you'll be stronger than thinking negative angy ones!"<br>
(117)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "When you love someone you
want the best for them. You want them to shine and the bes tway to do
this is to help them discover the value inside them!"<br>
(122)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- Five ways to love your passengers:<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 1) Make time for them<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 2) Listen to them<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 3) Recognize them<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 4) Serve them<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 5) Bring out the best in them<br>
(131)&nbsp;&nbsp; &nbsp;9) Drive with purpose!<br>
(131)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Purpose is the ultimate
fuel for our journey through life. When we drive with purpose we don't
get tired or bored."<br>
(136)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "People work better with a
purpose, a focus, I.e. to know what the product will be used for!".<br>
(141)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Trust is the high octane fuel that will take your bus wherever you want to go".<br>
(141)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "When you feel blessed you don't have the time to feel stressed".<br>
(143)&nbsp;&nbsp; &nbsp;10) Have fun and enjoy the ride!<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; - "Too many people think they're
going to live for ever. Accumulating possession and power simply to
leave it all behind. People stress over too many meaningless things,
protective of their turf. Don't dwell on small things, emails,
deadlines since you'll never see today again!".<br>
(144)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "Reflect more - enjoy the sunsets/sunrises"<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; - "Take more risks - Life is too short not to go for it!"<br>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; - "Leave a legacy - something that will live on after they die"<br>
(145)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;- "The best legacy that you
could leave is not a building, but rather a world that has been
impacted and touched by your presence, your joy, and your positive
actions".<br>
<br>

  

</body></html>