<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>hosts</title></head><body>
<div style="text-align: center;"><big><big>Hosts - file<br>
</big></big>
<div style="text-align: left;">Just a reminder that some of the website routing is done through the hosts file.<br>
&nbsp;&nbsp;&nbsp; <a href="http://en.wikipedia.org/wiki/Hosts_%28file%29">/etc/hosts</a> - link is to the wikipedia site<br>
</div>
<big><big></big></big>

</div>
</body></html>