<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
  </head>
  <body>
    <h1 style="text-align: left; margin-top: 0px; height: 0px;"><small><small><small><small><small><a
                  href="map.html">(Back to map page)</a></small></small></small></small></small></h1>
    <h1 style="text-align: center;">This is a record/reminder/log of the stuff
      done</h1>
    <a href="cv.html">CV</a><br>
    <br>
    Retirement is a good time to take a step back and get up to date with stuff
    that's been outstanding for a while. It's also a good time to reflect and
    ascertain how the experience gained over the previous years and the steps
    needed to move forward in the future.<br>
    <br>
    A list of all the things that I need to do:<br>
    <div style="margin-left: 40px;"><a href="Things_to_do.html">Things to do!</a></div>
    <br>
    Always keep up to date this website!<br>
    <div style="margin-left: 40px;"><span style="font-style: italic;">How github
        will control cricket/www/any other information<br>
        Use of diff to compare<br>
        Use of GIT how to update and use on multiple computers<a href="http://www.cyberciti.biz/tips/understanding-unixlinux-symbolic-soft-and-hard-links.html"></a><br>
      </span></div>
    <hr style="width: 100%; height: 2px;"><big>Things that I've looked at:</big><br>
    <br>
    <div style="margin-left: 40px;"><a href="git.html">GIT</a></div>
    <br>
    Shell/Linux script/pages:<br>
    <div style="margin-left: 40px;">ls/ll command:<br>
      <div style="margin-left: 40px;"><a href="ls_ll.html">ls/ll</a><br>
        <a href="symbolic_links.html">Symbolic links</a><br>
        <a href="du.html">du</a></div>
    </div>
    <div style="margin-left: 40px;">Apache:</div>
    <div style="margin-left: 80px;"><a href="apache.html">Apache</a></div>
    <div style="margin-left: 40px;">Makefiles:<br>
      <div style="margin-left: 40px;">Good makefile tutorial <a href="http://mrbook.org/tutorials/make/">Makefiles</a><br>
        Another makefile <a href="http://www.delorie.com/djgpp/doc/ug/larger/makefiles.html">guide</a><br>
        GNU 'make' reference <a href="http://www.gnu.org/software/make/manual/make.html">guide</a><br>
        Makefile target <a href="http://www.stackoverflow.com/questions/9233447/what-is-the-makefile-target-c-o-for">'.c.o'</a></div>
    </div>
    <div style="margin-left: 40px;">Diff</div>
    <div style="margin-left: 40px;">Softlinks</div>
    <a href="mediawiki_tikiwiki.html" target="_top">Website development</a><br>
    <br>
    <a href="cricket.html">Cricket development</a><br>
    <br>
    <a href="C-optimization.html">C optimisation</a><br>
    <br>
    -------------<br>
    Info:<br>
    <a href="http://www.tutorialspoint.com/gsm/gsm_architecture.htm" target="_blank">GSM</a>
    - gives basic background info<br>
    <a href="http://www.tutorialspoint.com/lte/index.htm" target="_blank">LTE</a>
    - not looked at this in any depth<br>
    There are others in this series<br>
    <br>
    <br>
    <a href="speech_codec.html">Speech Codec</a><br>
    <a href="Modulation.html">Modulation</a><br>
    <a href="Real-timeOS.html">Real-time OS</a><br>
    <a href="The_Secret.html">The_Secret</a><br>
    <a href="Energy_bus.html">Energy bus</a>
  </body>
</html>
