<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>map</title></head><body>
<h1 style="height: 0px;"><small><small><small><small><small><a href="index.html">(Back to home page)</a></small></small></small></small></small></h1>

<h1 style="text-align: center;">Website Index<br>
</h1>

Home page<br>
&nbsp;&nbsp;&nbsp; * Things to do<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Shell/Linux scripts<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - ls/ll<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - symlinks<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Makefiles<br>
&nbsp;&nbsp;&nbsp; * Source control management<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - GIT<br>
&nbsp;&nbsp;&nbsp; * Website<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Apache<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  <br>


</body></html>