<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Modulation</title></head><body>
<div style="text-align: center;"><big><big><big>Modulation</big></big></big><br>
<div style="text-align: left;">This is a really good (old school) introduction into AM and FM:<br>
<a href="http://www.youtube.com/watch?v=D65KXwfDs3s">http://www.youtube.com/watch?v=D65KXwfDs3s</a><br>
<br>
QAM / QPSK<br>
<a href="http://www.youtube.com/watch?v=eYyKRaKjLD0" target="_blank">http://www.youtube.com/watch?v=eYyKRaKjLD0</a><br>
<br>
GMSK?<br>
<br>
</div>


</div>
</body></html>