<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>nsn</title>
  </head>
  <body>
    <h1 style="text-align: center;">NSN</h1>
    My Role:<br>
    <br>
    &nbsp;&nbsp;&nbsp; GSM DSP Software engineer<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; - Ramped up on: <br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - GSM technology<br>
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; - NSN code and
    proprietary tools<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; - Devoloped one feature UL min RX level
    based access on two platforms across the complete lifecycle.<br>
    <br>
    What I did:<br>
    <ol>
      <li>Build command line batch/shell automation</li>
      <li>Initiation</li>
      <ul>
        <li>Clean code - Uncle Bob</li>
        <li>GSM principles - Virendra<br>
        </li>
        <li>Code walkthrough - Virendra</li>
      </ul>
      <li>SVN</li>
      <li>Code cleanup optimisation for Linux and Windows</li>
      <li>Uplink minimum RX level</li>
      <ul>
        <li>documentation</li>
        <li>coding</li>
        <li>testcases</li>
        <li>testing</li>
        <li>copy onto sister platform</li>
      </ul>
      <li>Merging of platforms</li>
      <ul>
        <li>Issues</li>
        <ul>
          <li>DSP infinite loop</li>
          <ul>
            <li>Symptoms - no output from the DSP</li>
            <li>Crash in one of the DSPs? But no dump!!!!</li>
            <li>Took frame count values and they were still available!</li>
            <li>Added array counters, binary search through the code. <br>
            </li>
            <li>Outcome - a HW accelorator wasn't completing due to different
              sizes!</li>
          </ul>
        </ul>
      </ul>
    </ol>
    <br>
    Reason for leaving:<br>
    Business decision to do NSN radio access development in one location.
    Unfortunately that was Bangalore where they already had WCDMA development.<br>
    <br>
  </body>
</html>
