<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Real-timeOS</title></head><body>
<div style="text-align: center;"><big><big><big>Real-time OS</big><br>
</big></big>
<div style="text-align: left;"><span style="font-style: italic; color: red;">Needs to be filled in!</span><br>
<br>
Sadly at the moment my best known resource is wikipedia!<br>
<a href="http://en.wikipedia.org/wiki/Real-time_operating_system" target="_blank">http://en.wikipedia.org/wiki/Real-time_operating_system</a><br>
</div>
<big><big></big></big>

</div>
</body></html>