<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Renesas</title></head><body>
<h1 style="text-align: center;">Renesas</h1>

My Role:<br>
&nbsp;&nbsp;&nbsp; Protocol integration engineer<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; - primary role was to analyse any test
issues seen by the release test team. First line of defence, no
continuous integration.<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; e.g.
FTP not connecting due to APN did not match that expected by the
Anritsu due to software upgrade.<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
&nbsp;&nbsp; build crashes on bootup, obtain coredump identify where
isssue was occurring. <br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  - <br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; - produce tools (perl/shell scripts) to facilitate customer requirements.<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  - optimise the build system<br>
<br>
What I did:<br>
<ol>
  <li>Patch tool</li>
  <ul>
    <li>mySQL</li>
    <li>javascript</li>
    <li>perl</li>
    <li>firebug</li>
    <li>apache</li>
    <li>cron<br>
    </li>
  </ul>
  <li>CoreDump analysis</li>
  <ul>
    <li>attended regular meetings</li>
    <li>trialled, gave feedback and pushed the tool to test team</li>
    <li>CoreDump was loaded onto SD card USB tracing used rather than XTI however various steps had to be made to enable by default<br>
    </li>
  </ul>
  <li>Blaze</li>
  <ul>
    <li>TI rampup board</li>
  </ul>
  <li>Code optimisation</li>
  <ul>
    <li>warnings removed</li>
    <ul>
      <li>eg <br>
      </li>
    </ul>
  </ul>
  <li>Merge strings</li>
  <ul>
    <li>Bug due to strings possibly overwritting one another. NO WORK AROUND MADE!<br>
    </li>
  </ul>
  <li>Watermarking</li>
  <ul>
    <li>perl script to add watermarking to documents when going to customers.</li>
    <li>had to be bit-exact! Something the script initially didn't do.</li>
  </ul>
  <li>Version string change</li>
  <li>Source code delivery (SCD) shell script</li>
  <ul>
    <li>shell script which compared two tar deliveries and produced a tar with a list of changes and the changed files<br>
    </li>
    <li>POSIX<br>
    </li>
  </ul>
</ol>
<br>
<ol>
  <li><br>
  </li>
</ol>

  

</body></html>