<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>symbolic_links.html</title></head><body style="height: 280px;">
<div style="height: 0px;"><a href="map.html"><small><small>(Back to map page)</small></small></a><br>
</div>
<h1 style="text-align: center;">Symbolic Links</h1>
<span style="font-style: italic;"><br><a href="http://www.cyberciti.biz/faq/linux-remove-delete-symbolic-softlink-command/">http://www.cyberciti.biz/faq/linux-remove-delete-symbolic-softlink-command/</a><br><a href="http://www.cyberciti.biz/tips/understanding-unixlinux-symbolic-soft-and-hard-links.html">http://www.cyberciti.biz/tips/understanding-unixlinux-symbolic-soft-and-hard-links.html</a></span><br>
<br>
See also <a href="apache.html">Apache</a> page for using symbolic links for webpages.<br>
<br>


</body></html>